html,
body {
    font-family: var(--font-family-main);
    line-height: 1.2;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    width: 150px;
}

.fi-ru {
    background-image: url(../icons/main-icons/ru.svg);
}

.card-item {
    background: rgba(247, 246, 251, 0.67);
    border-radius: 32px;
    height: 400px;
}

.card-item img {
    height: 200px;
}

.slick-dots li button:before {
    font-size: 10px;
    opacity: 1;
    color: var(--color-corp);
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: var(--color-red);
}

.img-height-1 {
    height: 500px;
}

.icon-size {
    width: 100px;
    transition: all 0.3s ease;
}

.icon-size:hover {
    transform: scale(1.1);
}

.footer-link {
    transition: all 0.3s ease;
}

.footer-link:hover {
    color: var(--color-corp);
    text-decoration: underline;
}

@media(max-width: 576px) {
    .logo {
        width: 120px;
    }

    .card-item {
        height: 300px;
    }

    .card-item img {
        height: 100px;
    }

    .img-height-1 {
        height: 250px;
    }

    .footer-logo {
        width: 150px;
    }
}