.text-sm {
    font-size: clamp(0.8125rem, 0.8rem + 0.0625vw, 0.875rem);
}

.text-md {
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.text-lg {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

.text-xl {
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
}

.text-2xl {
    font-size: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
}