.ff-second {
    font-family: var(--font-family-second);
}

.text-corp {
    color: var(--color-corp);
}

.text-red {
    color: var(--color-red);
}

.text-dark-1 {
    color: #424242;
}

.bg-corp {
    background: var(--color-corp);
}

.bg-main-gray {
    background: #FAFAFA;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.w-lg-fit-content {
    width: fit-content;
}

.btn-white {
    background: white;
    color: black;
    transition: all .3s ease;
}

.btn-white:hover {
    outline: 1px solid white;
    color: white;
    background: transparent;
}

@media(max-width: 990px) {
    .w-lg-fit-content {
        width: 100%;
    }
}